---
import {Header} from '../../components/layout-header';
const title: string = 'Home';
const description: string = 'A simple, fixed width user interface layout with a top navigation bar and a full-width header.';
---
<Header />
<slot />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© Company 2017-2018</p>
            </div>
        </div>
    </div>
</footer>