---
import LayoutFooter from "../components/layout-footer.astro";
import LayoutHeader from "../components/layout-header.astro";
import { siteConfig } from "../../common/config";
---
<html lang="en" suppressHydrationWarning>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" />
        <title> Mina - {siteConfig.title} </title>
    </head>
    <body class="bg-background antialiased">
        <LayoutHeader/>
        <div class="px-8">
            <slot />
        </div>
        <LayoutFooter>
    </body>
</html>

