---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/page-header/page-header.astro";
import PageHeaderHeading from "../components/page-header/heading.astro";
import PageHeaderDescription from "../components/page-header/description.astro";
import ProposalTable from "../components/table/proposal-table.astro";

import { getProposalList } from "../../common/store";

import { writeFile } from 'fs/promises';

const proposals = await getProposalList();

---
<Layout>
	<div class="container relative">
		<PageHeader className="hidden md:block pb-6">
			<PageHeaderHeading>Mina On-Chain Voting</PageHeaderHeading>
			<PageHeaderDescription>View and track the progress of Mina Improvement Proposals (MIPs).</PageHeaderDescription>
		</PageHeader>

		<PageHeader className="block md:hidden pb-6 text-center">
			<PageHeaderHeading className="text-2xl">Mina On-Chain Voting</PageHeaderHeading>
			<PageHeaderDescription>View and track the progress of Mina Improvement Proposals (MIPs).</PageHeaderDescription>
		</PageHeader>
	
		<ProposalTable proposals={proposals}/>
	</div>
</Layout>

