---
import { cn } from '../../../common/utils';
import { proposalHeaders, votesHeaders } from '../../../common/fakedata';

interface HeaderProps {
  proposal: boolean;
  className?: string;
}

const { proposal, className } = Astro.props as HeaderProps;
const headers = proposal ? proposalHeaders : votesHeaders;
---
<thead class="[&_tr]:border-b">
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      {headers.map((header) => (
        <th class={cn("h-10 px-2 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]", className)}>
          <div class={`text-xs ${header === "Key" || header == "Height" && 'pl-2.5'}`}>{header}</div>
        </th>
      ))}
    </tr>
</thead>