---
import { cn } from '../../../common/utils';
import { badgeVariants, BadgeProps } from '../ts/badgeVariants';

const { variant="default", className='', ...props } = Astro.props as BadgeProps;
const badgeClass = cn(badgeVariants({ variant }), className);
---
<div class={badgeClass} {...props} >
    <slot />
</div>

