<div class="">
    <button class="hover-card-trigger ">
        <slot name="hover-trigger"/>
    </button>
    <div class="hover-card-content hidden absolute z-50 transform -translate-x-1/4 ">
        <slot name="hover-content"/>
    </div>    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var hoverCardTriggers = document.querySelectorAll('.hover-card-trigger');
        var hoverCardContents = document.querySelectorAll('.hover-card-content');
        hoverCardTriggers.forEach((trigger, index) => {
            trigger.addEventListener('mouseover', function() {
                hoverCardContents[index]?.classList.remove('hidden');
                hoverCardContents[index]?.classList.add('block');
            });
            trigger.addEventListener('mouseout', function() {
                hoverCardContents[index]?.classList.remove('block');
                hoverCardContents[index]?.classList.add('hidden');
            });
        });
    });
</script>