---

---
<div class="relative">
    <button class="hover-card-trigger ">
        <slot name="hover-trigger"/>
    </button>
    <div class="hover-card-content invisible opacity-0">
        <slot name="hover-content"/>
    </div>    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var hoverCardTriggers = document.querySelectorAll('.hover-card-trigger');
        var hoverCardContents = document.querySelectorAll('.hover-card-content');
        hoverCardTriggers.forEach((trigger, index) => {
            trigger.addEventListener('mouseover', function() {
                hoverCardContents[index]?.classList.remove('invisible', 'opacity-0');
                hoverCardContents[index]?.classList.add('visible', 'opacity-100');
            });
            trigger.addEventListener('mouseout', function() {
                hoverCardContents[index]?.classList.remove('visible', 'opacity-100');
                hoverCardContents[index]?.classList.add('invisible', 'opacity-0');
            });
        });
    });
</script>