---
import {cn} from '../../../common/utils'
import { MagnifyingGlass, Checkbox } from '@astropub/icons';
import { Options } from '../table/toolbar/data-table-filter.astro'

const { title, options, align, className, sideOffset } = Astro.props as {
  title: string;
  options: Options[];
  align?: 'start' | 'end';
  className?: string;
  sideOffset?: number;
}
const isSelected: boolean = false;
const isFiltered: boolean = false;
---
<div id="popover-default"
	class={cn( 
		'absolute z-50 w-72 rounded-md border border-secondary bg-popover p-4 text-popover-foreground shadow-md outline-none data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2',
		className
	)}
>
    <div class="flex h-full w-full flex-col overflow-hidden rounded-md bg-popover text-popover-foreground">
		<ul class="options-list overflow-hidden p-1 text-foreground">
				{options.map((option) => (
					<li data-value={option.value} id={option.value}
					class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none hover:bg-accent hover:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
						<div data-checkboxValue={option.value}
							class={'mr-2 flex h-4 w-4 items-center justify-center rounded-sm border border-primary opacity-50 [&_svg]:invisible'}
						>
							<Checkbox  />
						</div>
						<label class="relative flex cursor-default select-none items-center">
							{option.icon ? <option.icon class="mr-2 h-4 w-4 text-muted-foreground" /> : null}
							{ option.value }
						</label>
					</li>
				))}
		</ul>
    </div>
</div>

<script>

</script>