---
import { cn } from '../../../common/utils';

export type Props = {
    className?: string;
    ref: string;
}

const { className, ref, ...props} = Astro.props as Props;

---
<div ref={ref} class={cn('rounded-lg border bg-card text-card-foreground shadow', className)} {...props}>
    <slot />
</div>