---
import { cn } from '../../../common/utils';
import { Props } from './card.astro';

const { className, ...props} = Astro.props as Props;

---
<p class={cn('card-description text-sm text-muted-foreground', className)} {...props} >
    <slot />
</p>