---
import { cn } from '../../common/utils';
import { buttonVariants, Variant, Size } from './ts/buttonVariants';


type ButtonProps = {
    variant? : Variant,
    size?: Size,
    className?: string,
};

const { variant = 'default', size = 'default', className = ''} = Astro.props as ButtonProps;
export const buttonClass = cn(buttonVariants({ variant, size }), className);

---
<button class={buttonClass}>
    <slot />
</button>