---
import { siteConfig } from "../../common/config";
---
<div class="mr-4 hidden md:flex">
    <a href="/" class="mr-6 flex items-center space-x-2">
      <span class="hidden font-bold sm:inline-block">{siteConfig.title}</span>
    </a>
</div>