---
import Dialog from "./dialog.astro";
import Button from "../core/button.astro";

//how am I going to get the memo all the way down to the dialog? (e.g. MI4)

type ModalButtonProps = {
  isFor: 'For' | 'Against';
  className?: string;
};

const { isFor, className, ...props } = Astro.props as ModalButtonProps;
const dialogId = isFor;
---
<Button id={"open-dialog-button-" + isFor} size="sm" className={className} {...props} data-isfor={isFor}> 
  {isFor}
</Button>
<Dialog id={dialogId} memo="MIP1"/>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    function openDialog(dialogId) {
      const dialog = document.getElementById(dialogId);
      if (dialog) {
        dialog.showModal();
      }
    }

    function closeDialog(dialogId) {
      const dialog = document.getElementById(dialogId);
      if (dialog) {
        dialog.close();
      }
    }

    const buttons = document.querySelectorAll('[data-isfor]');
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const isForValue = button.getAttribute('data-isfor');
        const dialogId = isForValue;
        openDialog(dialogId);
      });
    });

    const closeButtons = document.querySelectorAll('[data-close]');
      closeButtons.forEach(button => {
        button.addEventListener('click', () => {
          const isForValue = button.getAttribute('data-close');
          closeDialog(isForValue);
        });
      });

      document.addEventListener('click', event => {
      const openDialogs = document.querySelectorAll('dialog[open]');
      openDialogs.forEach(dialog => {
        const dialogContent = dialog.querySelector('.dialog-content');
        if (dialogContent && !dialogContent.contains(event.target)) {
          closeDialog(dialog.id);
        }
      });
    }, true);
  });
</script>
