---
import moment from 'moment';

const { time, proposal } = Astro.props as { time: number, proposal: boolean };
const startDate = moment(new Date(time)).utc();
---
<td class="p-2 align-middle">
    <span class={`whitespace-nowrap ${proposal ? null: "text-xs font-semibold"}`}>
        {startDate.format('YYYY-MM-DD - hh:mm').toString()}
    </span>
</td>
