---
import Badge from "../../../core/badge.astro";
import { ProposalCategories,  ProposalCategory} from "../../../../../models";
import { Options } from "../../toolbar/data-table-filter.astro";

export const proposalCategoryOptions: Options[] = ProposalCategories.map((category) => {
    return {
        value: category,
    };
});

interface TitleProps {
    title: string;
    category: ProposalCategory;
}

const {title, category} = Astro.props as TitleProps;
---
<td class="p-2 align-middle">
    <div class="flex space-x-2 min-w-[350px]">
        <Badge variant="outline" className="bg-gray-200/10 dark:bg-gray-500/10 border-secondary">
            {category}
        </Badge>
        <span class="truncate font-medium">{title}</span>
    </div>
</td>

