<tr class="border-b border-secondary transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
    <td class="p-2 align-middle h-24 text-center" colspan="7">
      No Results.
    </td>
</tr>