---
import Layout from '../../../layouts/Layout.astro';
import PageHeader from '../../../components/page-header/page-header.astro';
import PageHeaderHeading from '../../../components/page-header/heading.astro';
import PageHeaderDescription from '../../../components/page-header/description.astro';
import VotesMetrics from '../../../components/vote-metrics/vote-metrics.astro';
import Separator from '../../../components/core/separator.astro';
import VotesTable from '../../../components/table/votes-table.astro';

export const prerender = true;

export async function getStaticPaths() {
    const ids = ['1', '2', '3', '4']; 
    return ids.map(id => {
        return { params: { id } };
    });
}

const id = Astro.params.id;
---
<Layout>
    <div class="container relative">
        <PageHeader className="hidden md:block pb-6">
            <PageHeaderHeading>Easier zkApp programmability on mainnet</PageHeaderHeading>
            <PageHeaderDescription>Adding programmable smart contracts (zkApps) to the Mina protocol.
            </PageHeaderDescription>
        </PageHeader>
    
        <PageHeader className="block md:hidden pb-6 text-center">
            <PageHeaderHeading className="text-2xl">Easier zkApp programmability on mainnet</PageHeaderHeading>
            <PageHeaderDescription className="text-base">Adding programmable smart contracts (zkApps) to the Mina protocol.</PageHeaderDescription>
        </PageHeader>

        <div class="flex flex-col gap-2">
            <VotesMetrics variant="default" />
            <Separator />
            <VotesTable />
        </div>
    </div>
</Layout>

