---
import { ProposalStatus } from '../../../../../models/index';
import {CountdownTimer, Stopwatch, QuestionMarkCircled, CheckCircled} from '@astropub/icons';
import HoverCard from '../../../core/hover-card.astro';

export interface ProposalTableStatus {
  value: ProposalStatus;
  icon: typeof CountdownTimer;
  description: string;
};

export const proposalTableStatuses: ProposalTableStatus[] = [
{
    value: 'Pending',
    icon: CountdownTimer,
    description: 'The voting period has not begun.',
  },
    {
    value: 'In Progress',
    icon: Stopwatch,
    description: 'Voting is in progress.',
  },
  {
    value: 'In Review',
    icon: QuestionMarkCircled,
    description: 'Voting has closed and the results are being verified.',
  },
  {
    value: 'Completed',
    icon: CheckCircled,
    description: 'Voting has finished and the results have been verified.',
  },
];

const {status} = Astro.props as {status: ProposalStatus};
const statusData = proposalTableStatuses.find(({ value }) => value === status) as ProposalTableStatus;
---

<td class="p-2 align-middle">
  <HoverCard>
    <div slot="hover-trigger" class="flex w-[100px] items-center gap-1.5">
      <statusData.icon class="h-4 w-4 text-muted-foreground"/>
      <span class="select-none">{status}</span>
    </div>
    <div slot="hover-content" class="flex absolute top-full left-1/2 transform -translate-x-1/2 transition-opacity delay-500 z-40 w-64 rounded-md border border-input bg-background p-4 text-secondary-foreground shadow-md">
      <span class="text-xs select-none">{statusData.description}</span>
    </div>
  </HoverCard>
</td>

