---
import { cn } from '../../../../../common/utils';
import { badgeVariants } from '../../../ts/badgeVariants'
import Badge from "../../../core/badge.astro";

const {title, category} = Astro.props;
---
<td class="p-2 align-middle">
    <div class="flex space-x-2 min-w-[350px]">
        <Badge variant="outline" className="bg-gray-200/10 dark:bg-gray-500/10">
            {category}
        </Badge>
        <span class="truncate font-medium">{title}</span>
    </div>
</td>

