---
import { cn } from '../../../common/utils';
import { DialogProps } from './dialog.astro';

const { className, ...props } = Astro.props as DialogProps;
---
<p class={cn('text-sm text-muted-foreground', className)} {...props}>
    <slot />
</p>